[Desktop Entry]
Version=1.0
Name=911-AP
Type=Application
Comment=911-AP by em3rgency
Terminal=true
Exec=sh -c "cd /opt/hackpack;./911_AP.sh;${SHELL:-bash}"
Icon=elisa.png
Categories=sniffspoof;wireless
GenericName=911-AP

