[Desktop Entry]
Version=1.0
Name=ipchecker
Type=Application
Comment=ipchecker
Terminal=true
Exec=sh -c "cd /opt/hackpack;./ipchecker.sh;${SHELL:-bash}"
Icon=elisa.png
Categories=scripts
GenericName=ipchecker.sh

