[Desktop Entry]
Version=1.0
Name=MACchanger
Type=Application
Comment=MACchanger by em3rgency
Terminal=true
Exec=sh -c "cd /opt/hackpack;./MACchanger.sh;${SHELL:-bash}"
Icon=elisa.png
Categories=wireless
GenericName=MACchanger

