[Desktop Entry]
Version=1.0
Name=n1tr0g3n_SSL
Type=Application
Comment=n1tr0g3n_SSL by n1tr0g3n
Terminal=true
Exec=sh -c "cd /opt/hackpack;./n1tr0g3n_SSL_BT-5.sh;${SHELL:-bash}"
Icon=elisa.png
Categories=sniffspoof
GenericName=n1tr0g3n_SSL

